@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f8fafc; /* Atau ganti #ffffff jika ingin putih polos */
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none; /* Menghapus batasan max-width 1280px bawaan Vite */
}